{% extends "DForumBundle::layout.html.twig" %}

{% block stylesheets %}
	{% stylesheets filter='cssrewrite, lessphp, ?yui_css' output='css/forum.css'
		'bundles/releaselanding/less/forum.less'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block title %}Index Forums{% endblock %}

{% block section %}
	<div class="container">
		<div class="row" id="header"></div>
		{% for category in categories if is_granted('CanReadCategory', category) %}
		  <div class="row">
			<div class="col s12">
				<h5>{{category.name}}</h5>
			</div>
		  </div>
		  <div class="divider"></div>
			  {% for forum in category.forums %}
				<div class="row">
					<div class="col offset-s1 s9">
						<h3><a href="{{ path('discutea_forum_topic', {'slug': forum.slug}) }}" title="{{ forum.name }}">{{ forum.name }}</a></h3>
						<p>{{ forum.description }}</p>
					</div>
					<div class="col s2">
						{% set lastTopic = dfLastTopicInForum(forum,is_apply,currentUser) %}
						{% if lastTopic is not null %}
							{% if lastTopic.posts.last.poster is not null %}
							  {% set username = lastTopic.posts.last.poster.username %}
							{% else %}
							  {% set username = 'discutea.forum.deleted.user'|trans %}
							{% endif %}
							<a class="lastComment" href="{{ dfLastPostPages(lastTopic.posts.last) }}">
							  <p>
								{{ 'discutea.forum.lastpostby'|trans }} <strong>{{ username }}</strong>
								<br />{{ lastTopic.posts.last.date|date("Y-m-d H:i:s") }}
							  </p>
							</a>
						{% else %}
							<p>{{ 'discutea.forum.null'|trans }}</p>
						{% endif %}
					</div>
				</div>
			  {% endfor %} 
		{% else %}
		  <p class="text-center"><a class="btn btn-primary" href="{{ path('discutea_forum_create_category') }}"> {{ 'discutea.forum.category.createnew'|trans }} </a></p>
		{% endfor %}
	<div>
{% endblock %}
