<p style="margin-bottom: 5px">
	<u><b>Nom du personnage:</b></u> {{recruitment.getCharacterName()}}
	<br/>
	<u><b>Prénom:</b></u> {{recruitment.getFirstName()}}
	<br/>
	<u><b>Âge:</b></u> {{recruitment.getAge()}}
	<br/>
	<u><b>Sexe:</b></u> {{recruitment.getGender()}}
	<br/>
	<u><b>Centres d'intérêt:</b></u> {{recruitment.getInterests()}}
	<br/>
	<u><b>Disponibilités:</b></u> {{recruitment.getAvailability()}}
	<br/>
	<u><b>Description:</b></u> {{recruitment.getDescription()}}
	<br/>
	<u><b>Lien Lodestone:</b></u> {{recruitment.getLodestone()}}
	<br/>
	<u><b>Jobs maîtrisés:</b></u> {{recruitment.getJobs()}}
	<br/>
	<u><b>Description de votre gameplay:</b></u> {{recruitment.getGameplay()}}
	<br/>
	<u><b>Lien de votre BiS:</b></u> {{recruitment.getBisGear()}}
	<br/>
	<u><b>Lien de votre équipement actuel:</b></u> {{recruitment.getCurrentGear()}}
	<br/>
	<u><b>Expérience sur d'autres jeux:</b></u> {{recruitment.getExperienceGames()}}
	<br/>
	<u><b>Expérience sur FFXIV:</b></u> {{recruitment.getExperienceFFXIV()}}
	<br/>
	<u><b>Parcours sur FFXIV:</b></u> {{recruitment.getPreviousGuilds()}}
	<br/>
	<u><b>Vos motivations:</b></u> {{recruitment.getMotivation()}}
</p>